@import "variables";
@import "common";

header {
  display: flex;
  .logo {
    h1 {
      color: $color-text;
      font-weight: bold;
      font-size: 24px;
      line-height: 32px;
    }
  }
  nav {
    ul {
      list-style: none;
      display: flex;
      li {
        a {
          color: $color-text-muted;
        }
      }
    }
  }
  .icon-bar {
  }
  .menu {
  }
}
