html {
  padding: 30px;
  background-image: url(../images/13.jpg);
  background-size: cover;
}
p::selection {
  background: rgba(105, 105, 105, 0.05);
}

p {
  padding: 13px 30px;
  margin: 100px auto;
  width: cover;
  height: 55px;
  background-image: none;
  border-style: solid;
  border-color: rgba(95, 113, 114, 0);
  border-width: 1px;
  border-radius: 30px;
  overflow: auto;
  font-style: oblique;
  font-size: 18px;
  color: rgba(7, 27, 41, 0.55);
  text-align: justify;
  /* user-select: none; */
}

body {
  padding: 100px;
  margin: 55px auto;
  width: cover;
  height: 320px;
  background-image: url(../images/bg.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  border-style: solid;
  border-color: rgba(95, 113, 114, 0.355);
  border-width: 4px;
  border-radius: 13px;
}

.center {
  width: fit-content;
  height: max-content;
  margin: auto auto;
}

.btn1 {
  width: fit-content;
  margin: auto auto;
  background-image: url(none);
  color: rgb(255, 255, 255);
  padding: 30px 64px;
  border: 4px solid rgba(63, 63, 63, 0.87);
  border-top: none;
  border-bottom: none;
  border-top-left-radius: 30px;
  border-bottom-right-radius: 30px;
  border-top-right-radius: 30px;
  text-decoration: none;
  font-style: italic;
  font-size: xx-large;
  text-shadow: 1px 1px 8px black;
}

.btn1:hover {
  background-image: linear-gradient(
    to right,
    #29323c,
    #485563,
    #2b5876,
    #4e4376
  );
  box-shadow: 0 4px 15px 0 rgba(45, 54, 65, 0.75);
}

.btn1 {
  opacity: 1;
}
.btn1:hover {
  opacity: 0.7;
}

.btn2 {
  width: fit-content;
  margin-right: 55px;
  margin-left: 55px;
  background-image: url(none);
  background-size: cover;
  color: rgb(255, 255, 255);
  padding: 30px 64px;
  border: 4px solid rgba(63, 63, 63, 0.87);
  border-top: none;
  border-bottom: none;
  border-top-left-radius: 30px;
  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 30px;
  border-top-right-radius: 30px;
  text-decoration: none;
  font-style: italic;
  font-size: xx-large;
  text-shadow: 1px 1px 8px black;
}

.btn2:hover {
  background-image: linear-gradient(
    to right,
    #29323c,
    #485563,
    #2b5876,
    #4e4376
  );
  box-shadow: 0 4px 15px 0 rgba(45, 54, 65, 0.75);
}

.btn2 {
  opacity: 1;
}
.btn2:hover {
  opacity: 0.7;
}

.btn3 {
  width: fit-content;
  height: 55px;
  margin: auto auto;
  background-image: url(none);
  background-position: center;
  background-size: cover;
  color: rgb(255, 255, 255);
  padding: 30px 64px;
  border: 4px solid rgba(63, 63, 63, 0.87);
  border-top: none;
  border-bottom: none;
  border-top-left-radius: 30px;
  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 30px;
  text-decoration: none;
  font-style: italic;
  font-size: xx-large;
  text-shadow: 1px 1px 8px black;
}

.btn3:hover {
  background-image: linear-gradient(
    to right,
    #29323c,
    #485563,
    #2b5876,
    #4e4376
  );
  box-shadow: 0 4px 15px 0 rgba(45, 54, 65, 0.75);
}

.btn3 {
  opacity: 1;
}
.btn3:hover {
  opacity: 0.7;
}
