html {
  background-color: rgb(221, 233, 59);
  margin-top: 55px;
}

div {
  width: fit-content;

  margin: auto;
}

.btn {
  margin: auto;
  background-color: cadetblue;
  color: white;
  padding: 30px 64px;
  border: 8px solid black;
  border-top: none;
  border-bottom: none;
  border-top-left-radius: 30px;
  border-bottom-right-radius: 30px;
  text-decoration: none;
  font-size: xx-large;
}

.btn:hover {
  background-color: rgb(165, 15, 165);
}

.btn {
  opacity: 1;
}
.btn:hover {
  opacity: 0.7;
}
